**/*akefile linguist-vendored
**/*.mk linguist-vendored
**/*.make linguist-vendored
**/CMakeLists.txt linguist-vendored
**/*.cmake linguist-vendored


*akefile linguist-detectable=false
*.mk linguist-detectable=false


*.h linguist-language=C++